@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* Navbar */
#rzn8nav{
width:100px ;
margin-top: -20px;
}

ul{
    justify-content: space-evenly;
    display: flex;
    list-style: none;
    background-color: black;
    font-family: 'Bebas Neue', cursive;
}

ul li{
    color: white;
    transform: scale(0.9);
}

ul li:hover{
transform: scale(1.1);
transition: ease-in 0.7;
}
/* Home Page */
#home{


}
#jumbotron{
    background-image: url(../images//banner.gif);
    color: white;
    border: 5px black;
    text-shadow: 2px 2px black;

}

#jumbotron h1{
    letter-spacing: 2em;
    text-shadow: 2px 2px black;
}
.homecards{
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
/* Gamer Page */
#games{
    display: inline-block;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
    margin-left: auto;
    margin-right: auto;
    color: white;
}

#games h1{
    /* text-shadow: 2px 2px black;
    letter-spacing: 20px; */
}

#highlights{

}
/* Merch Page */
#merch{
    color: white;
    padding: 10%;
}

#merch h1{
    font-size: 150px;
    text-shadow: 2px 2px black;
    letter-spacing: 20px;
}

#merchcards{
    transform: scale(1);
    transition: transform 0.5s ease;
}

#merchcards:hover{
    transform: scale(1.1);
}

#merchards h4{
    text-shadow: 2px 2px black;

}

/* Social Page */
#social{
    color: white;
background-repeat: no-repeat;
display: flex;
justify-content: center;
align-items: center;
}

#social h1{
    font-size: 150px;
    text-shadow: 2px 2px black;
    letter-spacing: 20px;
}
#gamerlogo{
    width: 100px;
}

/* Fonts */
h1{
    font-family: 'Bebas Neue', cursive;
}

/* media queries */

@media screen and (max-width: 600px) {
    #rzn8nav{
        width:80px ;
        margin-top: -15px;
        }

ul h1{
    font-size: 24px;
}
#merch h1{
    font-size: 30px;
}
#games h1{
font-size: 24px;
width: 75%;
}
#games h3{
    font-size: 22px;
    width: 75%;
}
#jumbotron h1{
display: none;
}

#jumbotron h3{
    display: none;
}
  }