/* Navbar */
#rzn8nav{
width:100px ;
margin-top: -20px;
}

ul{
    justify-content: space-evenly;
    display: flex;
    list-style: none;
}
/* Home Page */
#home{
    background-image: url(../images//gamingbackground.gif);
background-size: 100;

}
#jumbotron{
    background-image: url(../images//banner.gif);
}
/* Gamer Page */
#games{
    background-image: url(../images//gamingbackground.gif);
    display: inline-block;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-size: cover;
}
/* Merch Page */
#merch{
    background-image: url(../images//gamingbackground.gif);

}

/* Social Page */
#social{
    background-image: url(../images//gamingbackground.gif);
    background-size: 70%;
background-repeat: no-repeat;
display: flex;
justify-content: center;
align-items: center;
}
#gamerlogo{
    width: 100px;
}